@model IEnumerable<PruebaTecnica.BusinessEntities.Question>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Questions</h1>
        </div>
        <div class="col-md-2">
            <p class="text-md-right">
                <a asp-action="Create" class="btn btn-primary">Make a question</a>
            </p>
        </div>
    </div>

    <div class="list-group">
        @foreach (var item in Model)
        {
            <div class="list-group-item">
                <h4 class="list-group-item-heading">@Html.DisplayFor(modelItem => item.QuestionText)</h4>
                <p class="list-group-item-text">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Created Date:</strong> @item.CreateDate.ToString("dd/MM/yyyy")<br />
                        </div>
                        <div class="col-md-4">
                            <strong>Status:</strong> @Html.DisplayFor(modelItem => item.Estatus)<br />
                        </div>
                        <div class="col-md-4">
                            <strong>Created by:</strong> @Html.DisplayFor(modelItem => item.User.UserName)
                        </div>
                    </div>
                </p>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Ver más</a>
            </div>
        }
    </div>
</div>
